<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXwhkacN9ZZLSNBCRmI0badq_nigvPIT0</string>
	<key>GCM_SENDER_ID</key>
	<string>1090295928841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.familycollab.gestia</string>
	<key>PROJECT_ID</key>
	<string>gestia-530cc</string>
	<key>STORAGE_BUCKET</key>
	<string>gestia-530cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090295928841:ios:ee558e4ee0c96d337e40d8</string>
</dict>
</plist>